body {
    margin: 0px;
}
header {
    background-image: linear-gradient(to top, black, gray);
}
.logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
main {
    min-height: 100vw;
    margin: 0px;
    background-image: linear-gradient(to top, black, gray);
    background-repeat: no-repeat;
}