body {
    margin: 0px;
}
header {
    background-image: linear-gradient(to top, rgba(179, 153, 192, 0.473), rgba(181, 158, 192, 0.192)10%);
}
/* Estilo do botão/container */
.hamburger-menu {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Empilha as barras verticalmente */
    justify-content: space-around;
    width: 30px; /* Largura total do ícone */
    height: 25px; /* Altura total do ícone */
}

/* Estilo de cada barra */
.bar {
    display: block;
    width: 100%;
    height: 5px; /* Espessura da linha */
    background-color: #333; /* Cor da linha */
    border-radius: 2px;
    transition: all 0.3s ease-in-out; /* Prepara para a animação */
}
.logo {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
}
main {
    min-height: 100vw;
    margin: 0px;
    background-image: linear-gradient(to top, rgba(179, 153, 192, 0.596),  rgba(181, 158, 192, 0.116)5%);
    background-repeat: no-repeat;
}